 body {
            background-color: #f8f8f8; /* Background for the entire page */
            font-family: Arial, sans-serif;
        }

        .book-library {
            background-color: #ffffff; /* Container for the collection of books */
            margin: 20px auto;
            padding: 20px;
            max-width: 700px;
            box-shadow: 0px 0px 10px rgb(46, 204, 113);
        }

        .book {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 20px;
        }

        .book img {
            width: 150px;
            height: auto;
            margin-right: 20px;
        }

        .book-details {
            flex-grow: 1;
        }

        .book-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .book-author {
            color: #777777; /* Author color */
            font-size: 14px;
            margin-bottom: 10px;
        }

        .book-price {
            background-color: #2ecc71; /* Price-block color */
            color: white;
            padding: 10px;
            text-align: center;
            width: fit-content;
            border-radius: 5px;
        }